.zz {
	color: rgb(4, 102, 141);
}
.xx {
	font-size:45px;
	font-family: Arial;
    text-decoration: line-through;
}

.cc{
    color:blue;
}

.vv{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.bb{
     text-decoration: overline;
}