
.one{
    padding-left: 50px;
    background-color: aqua;
    border: 3px dotted darkred;
    width: 100px;
}

.two {

    background-color: rgb(20, 173, 89);
    border: 3px outset thistle ;
    width: 100px;
}

