/*
p{
color:white;
}

h1{
    color:white;
}

h2{
    color:white;
}
*/

/*
Использую гупировку можно вес код выш педставить в види 3-х строчек 
где все задействованные теги написаны через запятую 
*/

p,h1,h2{
    color:white;
}
