
/* Приоритет селекторов */

/*
p {
	color: red;
}
p {
	color: green;
}
Как вы видите, сначала абзацам задается красный цвет, а потом ниже - зеленый. 
В этом случае вторая запись переопределит первую и абзацы станут зеленого цвета.
*/


#zz{
    color: aqua;
}

.xx{
    color: azure; /* применится класс так как он приоритетней id */
}


/******************************/

p{
    color:chartreuse;
}

.cc{
    color:cornflowerblue;  /* применится class так как он приоритетней обычного тегаы */
}