.zz{
    color:aqua;
    border:3px solid darkmagenta;
    width: 250px;
    height: 200px;
}

.xx{
    border:3px solid rgb(43, 255, 0);
    width: 50px;
    height: 50px;

    position: absolute;
    top:0px;
    right: 0px;
}

.cc{
    color:rgb(0, 255, 76);
    border:3px solid rgb(255, 0, 0);
    width: 250px;
    height: 200px;
}

.vv{
    border:3px solid rgb(0, 0, 0);
    width: 50px;
    height: 50px;

    position: absolute;
bottom:160px;
left: 220px;
}