
#zz {
    border: 4px dashed rgba(192, 206, 1, 0.884) ; 
border-radius: 20% 40% 50% 30%;
	width: 300px;
	height: 100px;
    background-color: rgba(0, 173, 130, 0.795);
}

#xx{
    background-color: rgb(61, 6, 133);
    width: 200px;
    height: 200px;
    border: 4px dashed rgb(194, 7, 94) ; 
    border-radius: 50%;
}