
img {
    width: 700px;
    height:450px;
   
}

.zz{
    border:3px solid rebeccapurple ;
 

}


.xx{
border:3px solid yellowgreen;
width: 150px;
height: 150px;
float: left;
margin: 20px;
}